<container>
  <row class="header">
    <columns valign="middle">
      <!-- <img src="{{root}}/assets/img/kayak_files/logo_white.png" class="logo_white" /> -->
      <img src="https://imgur.com/2DzSfhF.png" class="logo_white" />
      
    </columns>

    <columns valign="middle">
      <!-- <img src="{{root}}/assets/img/kayak_files/user.png" class="user_icon float-right"/> -->
      <img src="https://imgur.com/Jy5f5ng.png" class="user_icon float-right"/>
    </columns>
  </row>

  <row class="sub-header">
    <columns>
      <a href="#" class="text-center">
        <!-- <img src="{{root}}/assets/img/kayak_files/airplane.png" class="icons float-left">Flights</a> -->
        <img src="https://imgur.com/Gqgz9H9.png" class="icons float-left">Flights</a>
        
    </columns>

    <columns>
      <a href="#">
        <!-- <img src="{{root}}/assets/img/kayak_files/bed.png" class="icons float-left">Hotels</a> -->
        <img src="https://imgur.com/05ZtmNc.png" class="icons float-left">Hotels</a>
    </columns>

    <columns>
      <a href="#">
        <!-- <img src="{{root}}/assets/img/kayak_files/car.png" class="icons float-left">Cars</a> -->
        <img src="https://imgur.com/jxS4FLK.png" class="icons float-left">Cars</a>
    </columns>

    <columns>
      <a href="#">
        <!-- <img src="{{root}}/assets/img/kayak_files/umbrella.png" class="icons float-left">Packages</a> -->
        <img src="https://imgur.com/iQGLIgT.png" class="icons float-left">Packages</a>
    </columns>
  </row>

  <row class="sub-header1">
    <columns valign="middle">
      <h1>Deal of the Day</h1>
    </columns>
  </row>
</container>